<h1><%= title %></h1>
<p>Please login</p>
<form action="/user/login" method="post" name="loginform">
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="Login">
</form>